/* CSS declarations go here */
input {
    text-align: center;

}

.win {
    border: 1px solid green;
    border-radius: 50%;
    background: darkgreen;
    padding: 4px;
    margin: 4px;
    display:inline-block;
    *display:inline; /*IE7*/

}

.lost {
    border: 1px solid red;
    border-radius: 50%;
    background: darkred;
    padding: 4px;
    margin: 4px;
    display:inline-block;
    *display:inline; /*IE7*/

}

#matches {
    overflow: scroll;
}

body {
    padding: 200px;
    background: floralwhite;
}